@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    width: 10%;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

ul {
    display: flex;
    align-items: center;
    font-family: 'bryant-web',sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li {
    margin: 20px;
    list-style: none;
}

header {
    text-align: center;
}

h1 {
    font-family: 'termina',sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'termina',sans-serif;
    font-weight: 400;
    font-style: normal;

}


article{
    font-family: 'bryant-web',sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    margin-bottom: 15vh;
    font-size: 1.5em;
}






.kleurenpallet {
    display: flex;
    justify-content: center;
}

.kleur-1 {
    background-color: #719C8A;
    width: 100px;
    height: 100px;
}

.kleur-2 {
    background-color: #b9cbc1;
    width: 100px;
    height: 100px;
}

.kleur-3 {
    background-color: #DCE6E2;
    width: 100px;
    height: 100px;
}

.kleur-4 {
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
}

.kleur-5 {
    background-color: #222222;
    width: 100px;
    height: 100px;
}

.paragraaf {
    display: flex;
    justify-content: center;
    gap: 50px;
}

p {
    font-family: 'bryant-web',sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #dce6e2;
    padding: 20px 20px 20px 20px;
    width: 20%;
    text-align: left;
    
 
}

.paragraaf-2 {
    font-family: 'bryant-web',sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ebeaea;
    padding: 20px 20px 20px 20px;
    width: 20%;
    text-align: left;
    font-weight: bold;
    
    
    border-left: 4px solid #000000;
}



.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.petitie-button-2 {
    font-family: 'bryant-web',sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #9ed1b5;
    color: white;
    padding: 20px 30px 20px 30px;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.petitie-button-2:hover {
    background-color: #738d83;
}

.petitie-button {
    font-family: 'monotype-grotesque',sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #222222;
    color: white;
    padding: 20px 30px 20px 30px;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.petitie-button:hover {
    background-color: #71988A;
}

.icoon {
   width: 5%;
   transition: 0.5s;
}

.icoon:hover {
    opacity: 0.5;
 }

 .image-tint {
    width: 25%;
 }

 .lijn-1 {
    width: 35px;
    height: 6px;
    background-color: #71988A;
    margin-bottom: 7px;
 }

 .lijn-2 {
    width: 35px;
    height: 6px;
    background-color: #71988A;
    margin-bottom: 7px;
 }

 .lijn-3 {
    width: 35px;
    height: 6px;
    background-color: #71988A;
    margin-bottom: 35px;
 }

 .all-lijn {
    margin-left:49%;
    
 }


