@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
}
@media (min-width: 1200px) {
.wrapper{

    margin: 0 auto;

    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    height: 100%;
}
}

header{
    background-color: white;
    background-repeat: repeat;
    grid-column: 1/13;
    
}
.main{
    grid-column: 1/13;
    background-color: #E9EFF5;
}
.headline{
    
    grid-column: 2/13;
}
.headline h1{
    margin-top: 80px;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;
    text-decoration-line:underline;
    text-decoration-color: #EF415A;
    text-decoration-thickness: 5px;
    font-size: 43px;
    text-align: center;
}
.headline h2{
    margin-top: 65px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight:normal;
    margin-left: 100px;
    margin-right: 100px;
}
.plan{
    margin-top: 50px;
    background-color: #fff;
    padding: 50px;
    margin-bottom: 50px;
}
.plan img{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.render{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}
.render img{
    width: 475px;
    padding: 5px;
}
.render2{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.render2 img{
    width: 475px;
    padding: 5px;

}
.beliris h1{
    margin-top: 80px;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;
    text-decoration-line:underline;
    text-decoration-color: #EF415A;
    text-decoration-thickness: 5px;
    font-size: 43px;
    text-align: center;
}
.beliris h2{
    margin-top: 40px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight:normal;
    margin-left: 100px;
    margin-right: 100px;
}
.beliris-images{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}
.beliris-images img{
    width: 475px;
    padding: 5px;
    height: 326px;
}
.debate h1{    margin-top: 80px;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;
    text-decoration-line:underline;
    text-decoration-color: #EF415A;
    text-decoration-thickness: 5px;
    font-size: 43px;
    text-align: center;
}
.debate h2{
    margin-top: 65px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight:normal;
    margin-left: 100px;
    margin-right: 100px;
}
div.gallery {
    margin: 5px;
    border: 3px solid #ccc;
    float: left;
    width: 445px;
  }
  
  div.gallery:hover {
    border: 3px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
.images img{
    width: 320px;
    margin-left: 60px;
    margin-bottom: 10px;
    height: 400px;
    margin-top: 10px;
}
.images2 img{
    width: 320px;
    margin-left: 162px;
    margin-bottom: 10px;
    height: 400px;
}
.images3 img{
    width:320px;
    margin-left: 60px;
    margin-bottom: 40px;
    height: 400px;
}

.petition {
    text-align: center;
    color: white;
    background-color: #2f3247;

    padding: 20px 10px 50px 10px;
    grid-column: 1/13;
    
}

.petition-text {
    margin-bottom: 2em;
}

.petition h3 {
    font-size: 1.35rem;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.button-petition {
    background-color: #ef415a;
    color: white;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 15px;
    transition: 0.8s;
    letter-spacing: 0.5px;
}

.button-petition:hover {
    background-color: #8d3737;  
}

.button-petition ,a {
    text-decoration: none;
}