@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	margin: 0;
	padding: 0;
}


header {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 0 10px;
}

.logo {
	width: 5rem;
	margin-top: -0.5em;
}

nav {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	background-color: #2f3247;
	width: 50%;
	z-index: 2;
	transform: translateX(100%);
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 7em;
}

ul a {
	text-decoration: none;
	font-size: 1.3rem;
	font-family: "articulat-cf", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
	padding: 0.6em;
	text-align: center;
	display: block;
}

ul a:hover {
	color: #ef415a;
}

.facebook-link a {
	text-decoration: none;
	font-size: 2.5rem;
}

.menu {
	font-size: 2.5em;
	margin-top: 0.2em;
	cursor: pointer;
}

.open-nav {
	transform: translateX(0%);
	animation: rightSlide 1s backwards;
}

@keyframes rightSlide {
	from {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}

	to {
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}

.close {
	float: right;
	margin: 0.8em 0.4em 0.5em 0.4em;
	font-size: 2.05em;
	color: white;
	animation: leftSlide 1s backwards;
	cursor: pointer;
}


.main{

    background-color: #E9EFF5;
}
.headline{
    padding-top: 30px;

}
.headline h1{
    margin-top: 1.5rem;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;

    text-decoration-thickness: 5px;
    font-size: 800;
    text-align: center;
    font-style: normal;
}
.headline h2{
    margin-top: 65px;
    font-family: 'Montserrat',sans-serif;
    font-weight:  400;
    font-size:1.25em;
    margin:0 auto;
    text-align: left;
    width: 60%;
}
.plan{
    margin-top: 50px;
    background-color: #fff;
    padding: 50px;
    margin-bottom: 50px;
}
.plan img{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.render{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}
.render img{
    width: 475px;
    padding: 5px;
}

.render2{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.render2 img{
    width: 475px;
    padding: 5px;

}
.beliris h1{
    margin-top: 80px;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;

    font-size: 800;
    text-align: center;
}
.beliris h2{
    margin-top: 40px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight:normal;
    margin:0 auto;
    text-align: left;
    width: 60%;
}
.beliris-images{
    margin-top: 20px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}
.beliris-images img{
    width: 475px;
    padding: 5px;
    height: 326px;
}
.debate h1{    margin-top: 80px;
    font-family:"articulat-cf",sans-serif;
    font-weight: bold;


    font-size: 800;
    text-align: center;
}
.debate h2{
    margin-top: 65px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight:normal;
    margin:0 auto;
    text-align: center;
    width: 60%;
 
    background-color: #E9EFF5;
}
div.gallery {
    border: 3px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  div.gallery:hover {
    border: 3px solid #ef415a;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    background: #E9EFF5;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


.petition {
    text-align: center;
    color: white;
    background-color: #2f3247;

    padding: 20px 10px 50px 10px;
    grid-column: 1/13;
    
}

.petition-text {
    margin-bottom: 2em;
}

.petition h3 {
    font-size: 1.35rem;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.button {
    background-color: #ef415a;
    text-decoration: none;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 15px;
    transition: 0.8s;
    letter-spacing: 0.5px;
    color:white;
}

.button:hover {
    background-color: #8d3737;  
}

@media (min-width:768px){
	header {
		padding: 10px 20px 0 20px;
	}
    	ul a {
		font-size: 1.7rem;
	}
    	.close {
		margin: 0.8em 0.5em 0.5em 0.5em;
	}
}
/** Tablet **/
@media (max-width: 768px) {
	/********** Nav **********/




    .plan img{
        width: 100%;
    }    
    .render{
        margin-top: 20px;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .render2{
        margin-top: 20px;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .beliris-images{
        margin-top: 20px;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	/********** Main **********/
	main {
		padding-top: 500px;
	}
  


	/********** Footer **********/

	footer {
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	footer div {
		width: 30%;
	}
	footer {
		display: flex;
		/* padding: 40px 20px 10px 20px;*/
	}



	.footer-facebook-link h2 {
		font-size: 1.2rem;
		font-family: "articulat-cf", sans-serif;
		font-weight: 700;
		font-style: normal;
		max-width: 70%;
		margin: 0 auto;
		margin-bottom: 1rem;
	}

	.footer-facebook-icon {
		font-size: 3rem;
		color: black;
		transition: 0.8s;
	}

	.footer-facebook-icon:hover {
		color: #676767;
	}

	.footer-contact h2 {
		font-family: "articulat-cf", sans-serif;
		font-weight: 700;
		font-style: normal;
		text-align: left;
	}

	.footer-contact p {
		font-size: 0.8rem;
		text-align: left;
		font-family: "articulat-cf", sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.copyright p {
		padding-top: 30px;
		padding-bottom: 10px;
		text-align: center;
	}
}

/** Desktop **/
@media (min-width: 1200px) {


	/** Wrapper **/
	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}

	/********** Nav **********/

	/********** Main **********/
	main {
		padding-top: 600px;
	}

	/********** Hero (1) **********/

	/********** Footer **********/


	footer {
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	footer div {
		width: 30%;
	}

	.close {
		float: right;
		margin: 0.8em 4.5em 0.5em 3em;
		font-size: 2.5em;
		color: white;
	}
}
@media (max-width:320px){
    body{
        width: 320px;
    }
    main {
		width:320px;
	}
    .render{
        margin-top: 20px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .render2{
        margin-top: 20px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .beliris-images{
        margin-top: 20px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery{
        width: 100%;
    }
}
