body{
    scroll-behavior: smooth;
    background-color: #E9EFF5;

}

main{
    width: 100%;
    margin: 0 auto;

}


.wrapper{
    max-width:1200px;
    margin: 0 auto;
}

header{
    margin-bottom: 15vh;
}
#divh1{
    margin: 5vh auto;
    text-align: center;
}

main h1{
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    margin: 0 auto;
  
}

figure{
    width: 100%;
}

img{
    width: 100%;
}

h1, h2{

    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}

/* opmaak eerste section */

.section1{
    display: flex;
    margin-top: 10vh;
}
.section1 figure{
    flex-basis: 50%;
}

.section1 img{
    box-shadow: -1rem -1rem #ef415a;
}
.section1 div{
    flex-basis: 50%;
    justify-content: center;
   
}

.section1 h2{
    font-size: 3.5em;
    border-bottom: #ef415a 5px solid;
    display: inline-block;
    padding: 0;
    margin-left: 35%;
}



/* opmaak tweede section */

.section2{
    display: flex;
    margin-top: 15vh;
}

.section2 div, .section2 figure{
    flex-basis: 50%;
    
}

.section2 img{
    box-shadow: 1rem 1rem #ef415a;
}


.section2 p{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15vh;
    
}
/* derde section */
.section3{
    display: flex;
    margin-top: 10vh;
}

.section3 div, .section3 p{
    flex-basis: 50%;
    
}

.section3 h2{
    font-size: 3.5em;
    border-bottom: #ef415a 5px solid;
    display: inline-block;
    padding: 0;
    margin-left: 25px;
}

.section3 p{
    margin: 40vh 0 0 5vh;
    
}

.section3 img{
    text-align: left;
   
    box-shadow: -1rem -1rem #ef415a;
}

.section3 figure{
    
    position: relative;
    
    line-height: 0;
    
    
}
/* vierde section */
.section4{
    display: flex;
    padding-top: 10vh;
    margin-bottom: 10vh;
}

.section4 div, .section4 p{
    flex-basis: 50%;
}

.section4 div{
    text-align: right;
    margin-right: 4vw;
    
}

.section4 div h2{
    position:relative;
    left: 2.5vw;
    font-size: 3.5em; 
    border-bottom: #ef415a 5px solid;
    display: inline-block;
    padding: 0;
}

.section4 img{
    box-shadow: 1rem 1rem #ef415a;
}


.section4 p{
    padding-top: 25vh;
}

/* vijfde section */
.section5{
    display: flex;
    margin-bottom: 10vh;
}

.section5 div, .section5 p{
    flex-basis: 50%;
}

.section5 p{
    margin-left:2.5vw;
    padding-top: 10vh;
}


.section5 img{
    position: relative;
    right: 2vw;
    box-shadow: -1rem -1rem #ef415a;
    
}


.section5 figure{
    line-height: 0;
}

/* zesde section */

.section6{
    display: flex;
    margin-bottom: 10vh;
}
.section6 p, .section6 div{
    flex-basis: 50%;
}

.section6 figure{
    position: relative;
    right: 3vw;
}

.section6 img{
    box-shadow: 1rem 1rem #ef415a;
}
.section6 p{
    margin-right: 2vw;
    padding-top: 10vh;
}



/* zevende section */

.section7{
    display: flex;
    margin-bottom: 10vh;
}

.section7 div, .section7 p{
    flex-basis: 50%;
    
}

.section7 figure{
    position: relative;
    right: 2vw;
}

.section7 img{
    box-shadow: -1rem -1rem #ef415a 
}


.section7 p{
    margin-left: 2vw;
    padding-top: 20vh;
}

.section7 h2{
    font-size: 3.5em;
    border-bottom: #ef415a 5px solid;
    display: inline-block;
    padding: 0;
}

/* achtste section */

.section8{
    display: flex;
    
}

.section8 h2{
    font-size: 3.5em;
    border-bottom: #ef415a 5px solid;
    display: inline-block;
    padding: 0;
}

.section8 p, .section8 div{
    flex-basis: 50%;
}

.section8 div{
    text-align:right;

}

.section8 img{
    box-shadow: 1rem 1rem #ef415a;
}


.section8 p{

    padding-top: 15vh;
}



.first-text h1 {
     position: relative;
     top: 1.5rem;
    }
.first-text::before {
        content: "";
        position: absolute;
        top: 65px;
        left: 58px;
        width: 250px;
        height: 15px;
        background-color: #ef415a;
        z-index: -1;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;}







