body{
    scroll-behavior: smooth;
    background-color: #E9EFF5;
}

main{
    width: 100%;
    margin: 0 auto;

}

@media  (min-width:1200px) {
    .wrapper{
        width:1200px;
        margin: 0 auto;
    }

}

#divh1{
    margin: 5vh auto;
    text-align: center;
}

main h1{
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-bottom: 0.6vh #EF415A solid;
}

figure{
    width: 100%;
}

img{
    width: 100%;
}

h1, h2{

    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}

/* opmaak eerste section */

.section1{
    display: flex;
    margin-top: 10vh;
}
.section1 figure{
    flex-basis: 50%;
}

.section1 img{
    box-shadow: -1rem -1rem #719c8a;
}
.section1 div{
    flex-basis: 50%;
    justify-content: center;
   
}

.section1 h2{
    font-size: 3.5em;
    text-align: center;
}



/* opmaak tweede section */

.section2{
    display: flex;
    margin-top: 15vh;
}

.section2 div, .section2 figure{
    flex-basis: 50%;
    
}

.section2 img{
    box-shadow: 1rem 1rem #b9cbc1;
}


.section2 p{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15vh;
    
}
/* derde section */
.section3{
    display: flex;
    margin-top: 10vh;
}

.section3 div, .section3 p{
    flex-basis: 50%;
    
}

.section3 h2{
    font-size: 3.5em;
}

.section3 p{
    margin: 40vh 0 0 5vh;
    
}

.section3 img{
    text-align: left;
   
    box-shadow: -1rem -1rem #719c8a;
}

.section3 figure{
    
    position: relative;
    
    line-height: 0;
    
    
}
/* vierde section */
.section4{
    display: flex;
    padding-top: 10vh;
    margin-bottom: 10vh;
}

.section4 div, .section4 p{
    flex-basis: 50%;
}

.section4 div{
    text-align: right;
    margin-right: 4vw;
    
}

.section4 div h2{
    position:relative;
    left: 2.5vw;
    font-size: 3.5em; 
}

.section4 img{
    box-shadow: 1rem 1rem #b9cbc1;
}


.section4 p{
    padding-top: 25vh;
}

/* vijfde section */
.section5{
    display: flex;
    margin-bottom: 10vh;
}

.section5 div, .section5 p{
    flex-basis: 50%;
}

.section5 p{
    margin-left:2.5vw;
    padding-top: 10vh;
}


.section5 img{
    position: relative;
    right: 2vw;
    box-shadow: -1rem -1rem #719c8a;
    
}


.section5 figure{
    line-height: 0;
}

/* zesde section */

.section6{
    display: flex;
    margin-bottom: 10vh;
}
.section6 p, .section6 div{
    flex-basis: 50%;
}

.section6 figure{
    position: relative;
    right: 3vw;
}

.section6 img{
    box-shadow: 1rem 1rem #719c8a;
}
.section6 p{
    margin-right: 2vw;
    padding-top: 10vh;
}



/* zevende section */

.section7{
    display: flex;
    margin-bottom: 10vh;
}

.section7 div, .section7 p{
    flex-basis: 50%;
    
}

.section7 figure{
    position: relative;
    right: 2vw;
}

.section7 img{
    box-shadow: -1rem -1rem #b9cbc1;
}


.section7 p{
    margin-left: 2vw;
    padding-top: 20vh;
}

.section7 h2{
    font-size: 3.5em;
}

/* achtste section */

.section8{
    display: flex;
    
}

.section8 h2{
    font-size: 3.5em;
}

.section8 p, .section8 div{
    flex-basis: 50%;
}

.section8 div{
    text-align:right;

}

.section8 img{
    box-shadow: 1rem 1rem #b9cbc1;
}


.section8 p{

    padding-top: 15vh;
}








